@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Instrument+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Instrument+Serif&display=swap');

:root {
    --cor0: #86d1ff;
    --cor1: #2894E0;
    --cor2: #03588C;
    --cor3: #011640;
    --cor4: #010D26;

    --fonte-titulo: 'DM Serif Display', serif;
    --fonte-padrao: 'Instrument Serif', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

    /*
    div#img-etiqueta {
        background-image: url('../sub-pages-Elgin/etiquetas/imagens-frames/l42full_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
        margin-bottom: 15px;
    }

    div#img-sat {
        background-image: url('../sub-pages-Elgin/sat_mfe/imagens-frames/sats_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
        margin-bottom: 15px;
    }

    div#img-mfe {
        background-image: url('../sub-pages-Elgin/sat_mfe/imagens-frames/mfes_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
        margin-bottom: 15px;
    }

    div#img-leitor {
        background-image: url('../sub-pages-Elgin/leitor/imagens-frames/el250.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
        margin-bottom: 15px;
    }
} 
*/
@media screen and (max-width: 1940px) {
    /*links internos */

    div.sub-menu-imp-bema-4200 > ul{
        padding: 2px;
        margin: 0 auto;
    }
    
    div.sub-menu-imp-bema-4200 > ul li{
        display: inline-block;
        padding: 7px;
        margin: 0 auto;
    }
    
    div.sub-menu-imp-bema-4200 > ul li a {
        color: var(--cor4);
        text-decoration: none;
        font-size: 1.1em;
        padding: 7px;
        font-weight: bold;
    }
    
    div.sub-menu-imp-bema-4200 > ul li a:hover {
        background-color: var(--cor2);
        color: var(--cor0);
        text-decoration: underline;
    }

    div.img-bema-2500 {
        background-image: url('../imagens-frames/mp2500th_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-bema-2800 {
        background-image: url('../imagens-frames/mp2800th_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-bema-4200 {
        background-image: url('../imagens-frames/mp4200th_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-bema-adv {
        background-image: url('../imagens-frames/mp4200th-adv_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-bema-hs {
        background-image: url('../imagens-frames/mp4200hs_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-elgin-i8 {
        background-image: url('../imagens-frames/i8-full_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-elgin-i9 {
        background-image: url('../imagens-frames/i9-full_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }
}

@media screen and (max-width: 760px) {

    div.img-bema-2500 {
        background-image: url('../imagens-frames/mp2500th_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-bema-2800 {
        background-image: url('../imagens-frames/mp2800th_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-bema-4200 {
        background-image: url('../imagens-frames/mp4200th_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-bema-adv {
        background-image: url('../imagens-frames/mp4200th-adv_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-bema-hs {
        background-image: url('../imagens-frames/mp4200hs_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-elgin-i8 {
        background-image: url('../imagens-frames/i8-full_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-elgin-i9 {
        background-image: url('../imagens-frames/i9-full_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
    /* Main Celular */
    main {
        width: 380px;
        height: 100%;
        font-family: var(--fonte-padrao);
        padding-top: 20px; 
    }
    
    /* Section Celular */
    section > h2 {
        font-family: var(--fonte-titulo);
        font-size: 1.3em;
    }
    
    section > p {
        font-size: 1.1em;
        line-height: 1.3em;
    }

    /*links internos*/
    div.sub-menu-imp-bema-4200 > ul{
        padding: 2px;
        display: none;
    }
    
    div.sub-menu-imp-bema-4200 > ul li{
        display: inline-block;
        padding: 7px;
    }
    
    div.sub-menu-imp-bema-4200 > ul li a {
        color: var(--cor4);
        text-decoration: none;
        font-size: 1em;
        padding: 7px;
        font-weight: bold;
    }
    
    div.sub-menu-imp-bema-4200 > ul li a:hover {
        background-color: var(--cor2);
        color: var(--cor0);
        text-decoration: underline;
    }
    
    /* Imgs pequena Celular */
    div.img-bema-2500 {
        background-image: url('../imagens-frames/mp2500th_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 360px;
        height: 700px;
        margin: auto;
    }

    div.img-bema-2800 {
        background-image: url('../imagens-frames/mp2800th_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 360px;
        height: 700px;
        margin: auto;
    }

    div.img-bema-4200 {
        background-image: url('../imagens-frames/mp4200th_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 360px;
        height: 700px;
        margin: auto;
    }

    div.img-bema-4200-F {
        background-image: url('../imagens-frames/mp4200th_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 360px;
        height: 700px;
        margin: auto;
    }

    div.img-bema-4200-C {
        background-image: url('../imagens-frames/mp4200th_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 360px;
        height: 700px;
        margin: auto;
    }
    
    div.img-bema-adv {
        background-image: url('../imagens-frames/mp4200th-adv_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 360px;
        height: 700px;
        margin: auto;
    }

    div.img-bema-hs {
        background-image: url('../imagens-frames/mp4200th-hs_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 360px;
        height: 700px;
        margin: auto;
    }

    div.img-elgin-i8 {
        background-image: url('../imagens-frames/i8-full_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 360px;
        height: 700px;
        margin: auto;
    }

    div.img-elgin-i9 {
        background-image: url('../imagens-frames/i9-full_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 360px;
        height: 700px;
        margin: auto;
    }
}