@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Instrument+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Instrument+Serif&display=swap');

:root {
    --cor0: #86d1ff;
    --cor1: #2894E0;
    --cor2: #03588C;
    --cor3: #011640;
    --cor4: #010D26;

    --fonte-titulo: 'DM Serif Display', serif;
    --fonte-padrao: 'Instrument Serif', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 1940px) {
    
    div.img-sat {
        background-image: url('../imagens-frames/sats_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-rb1000 {
        background-image: url('../imagens-frames/rb1000_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-rb2000 {
        background-image: url('../imagens-frames/rb2000_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-go {
        background-image: url('../imagens-frames/go_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-smart {
        background-image: url('../imagens-frames/smart_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-linker {
        background-image: url('../imagens-frames/linker2_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-mfe {
        background-image: url('../imagens-frames/mfes_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-mfe-smart {
        background-image: url('../imagens-frames/mfeSmart_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-mfe-linker {
        background-image: url('../imagens-frames/mfeLinker_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }
}

@media screen and (max-width: 760px) {

    div.img-sat {
        background-image: url('../imagens-frames/sats_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-rb1000 {
        background-image: url('../imagens-frames/rb1000_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-rb2000 {
        background-image: url('../imagens-frames/rb2000_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-go {
        background-image: url('../imagens-frames/go_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-smart {
        background-image: url('../imagens-frames/smart_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-sat-linker {
        background-image: url('../imagens-frames/linker2_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-mfe {
        background-image: url('../imagens-frames/mfes_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-mfe-smart {
        background-image: url('../imagens-frames/mfeSmart_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }

    div.img-mfe-linker {
        background-image: url('../imagens-frames/mfeLinker_img.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 350px;
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
    /* Main Celular */
    main {
        width: 380px;
        height: 100%;
        font-family: var(--fonte-padrao);
        padding-top: 20px; 
    }
    
    /* Section Celular */
    section > h2 {
        font-family: var(--fonte-titulo);
        font-size: 1.3em;
    }
    
    section > p {
        font-size: 1.1em;
        line-height: 1.3em;
    }
  
    /* Imgs pequena Celular */
    div.img-sat {
        background-image: url('../imagens-frames/sats_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 350px;
        height: 700px;
        margin: auto;
    }

    div.img-sat-rb1000 {
        background-image: url('../imagens-frames/rb1000_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 350px;
        height: 700px;
        margin: auto;
    }

    div.img-sat-rb2000 {
        background-image: url('../imagens-frames/rb2000_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 350px;
        height: 700px;
        margin: auto;
    }

    div.img-sat-go {
        background-image: url('../imagens-frames/go_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 350px;
        height: 700px;
        margin: auto;
    }

    div.img-sat-smart {
        background-image: url('../imagens-frames/smart_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 350px;
        height: 700px;
        margin: auto;
    }

    div.img-sat-linker {
        background-image: url('../imagens-frames/linker2_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 350px;
        height: 700px;
        margin: auto;
    }

    div.img-mfe {
        background-image: url('../imagens-frames/mfes_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 350px;
        height: 700px;
        margin: auto;
    }

    div.img-mfe-smart {
        background-image: url('../imagens-frames/mfeSmart_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 350px;
        height: 700px;
        margin: auto;
    }

    div.img-mfe-linker {
        background-image: url('../imagens-frames/mfeLinker_img_p.png'); 
        background-repeat: no-repeat;
        background-position: center center;
        width: 350px;
        height: 700px;;
        margin: auto;
    }
}