@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Instrument+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Instrument+Serif&display=swap');

:root {
    --cor0: #86d1ff;
    --cor1: #2894E0;
    --cor2: #03588C;
    --cor3: #011640;
    --cor4: #010D26;

    --fonte-titulo: 'DM Serif Display', serif;
    --fonte-padrao: 'Instrument Serif', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 1940px) {
    section .leitor{
        border-radius: 8px;
        border:2px solid var(--cor0);
        width: 30%;
        text-align: center;
        margin: 0 8px;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    section .container {
        display: flex;
        justify-content: space-around;
        padding: 0 8px;
    }
    
    section .leitor img{
        max-width: 100%;
    }
    
    section .leitor .info{
        font-size: 18px;
        color: var(--cor3);
        margin-top: 15px;
    }
}

@media screen and (max-width: 960px) {
    section .leitor{
        border-radius: 8px;
        border:2px solid var(--cor0);
        width: 30%;
        text-align: center;
        margin: 0 8px;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    section .container {
        display: flex;
        justify-content: space-around;
        padding: 0 8px;
    }
    
    section .leitor img{
        max-width: 100%;
    }
    
    section .leitor .info{
        font-size: 18px;
        color: var(--cor3);
        margin-top: 15px;
    }
}

@media screen and (max-width: 576px) {
    
    /* Menu */
    section .leitor{
        border:2px solid var(--cor0);
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    
    section .container {
        display: block;
    }
    
}


